body {
    /*background: linear-gradient(to bottom, lightcoral, darkred);*/
    /*background-repeat: repeat-x;*/
    background-color: black;
}

main {
    background-image: url("../assets/blood_drip_white.png");
    background-repeat: repeat-x;
}

nav {
    background-color: white;
    z-index: 10 !important;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.video:hover .name-wrapper {
    background-position: 0 20%;
}

.video:hover .name-wrapper > p {
    background-color: rgba(255, 255, 255, .9);
}

.video:hover > img {
    filter: grayscale(100%);
}

.video > img {
    transition: filter .2s;
    filter: grayscale(0%);
}

.name-wrapper p {
    border: 1px transparent solid;
    border-radius: 3px;
}

.name-wrapper {
    background-image: url("blood_drip_black.png");
    background-size: 60%;
    background-repeat: repeat-x;
    background-position: 0 120%;
    transition: background-position .2s ease-out;
    transition-delay: .0s;
}

.video {
    padding: 4px;
    margin: 8px;
    width: 350px;
    flex-grow: 1;
    background-color: white;

    display: inline-flex;
    flex-direction: column;
    border: none;
    transition: background-color .3s;
}

.video img {
    width: 100%;
    height: auto;
}

.videos {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100em;
    width: 80%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.overlay .player-wrapper {
    margin-left: auto;
    transition: margin .5s;
    margin-right: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: end;
}

.overlay #embedded_code > * {
    max-width: 80vw;
    max-height: 70vh;
    width: 1280px;
    height: 720px;
}



#close_btn {
    fill: white;
    width: 32px;
    height: auto;
    margin-bottom: 16px;
    cursor: pointer;
}

.no-interact {
    user-select: none;
    overflow: hidden;
}

body:not(.no-interact) .overlay {
    display: none;
}

.video {
    cursor: pointer;
}

.video * {
    user-select: none;
}

.video:hover .videotype {
    background-color: white;
}

.videotype {
    position: absolute;
    color: white;
    text-transform: uppercase;
    border: 1px transparent solid;
    border-bottom-left-radius: 4px;
    padding-right: 4px ;
    padding-left: 4px ;
    padding: 4px;
    display: inline;
    width: auto;
    right: 4px;
    top: 4px;
    background-color: white;
    transition: background-color .3s;
    letter-spacing: .08em;
    z-index: 5;
}

.videotype img {
    height: 16px;
    width: auto;
}

.video .name-wrapper {
    text-align: center;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.video .name-wrapper p {
    margin-top: 1rem;
}